<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <body>
      <form action="/login" method="post">
        <input
          type="text"
          name="username"
          placeholder="Name"
          class="detail"
        /><br />

        <input
          type="password"
          name="password"
          placeholder="Password"
          class="detail"
        />
        <!-- <button class="btn int" type="submit">Log in</button> -->
        <input type="submit" class="btn int" value="submit" />
      </form>
    </body>
  </body>
</html>
